### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [12]:
# Dependencies and Setup
import pandas as pd

#Comment: For some reason I feel Like it's not importing panda, and when I check my Command Terminal, it says that panda is installed

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"


# Read Purchasing File and store into Pandas data frame -> CSV to DF
purchase_data = pd.read_csv(file_to_load)
purchase_data_df.head()

FileNotFoundError: [Errno 2] File Resources/purchase_data.csv does not exist: 'Resources/purchase_data.csv'

## Player Count

* Display the total number of players

In [18]:
player_count_df = pd.DataFrame({'Number of Players':[player_count]})
player_count_df

NameError: name 'player_count' is not defined

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [19]:
# Run basic calculations to obtain number of unique items, average price, etc.

NumberUniqueItems = purchase_data['Item ID'].nunique()
AveragePrice = purchase_data['Price'].mean()
NumberPurchases = purchase_data['Purchase ID'].nunique()
TotalRevenue = purchase_data['Price'].sum()

# Create a summary df to hold the results
summary_df = pd.DataFrame({"Number of Unique Items": [numberUniqueItems],
    "Average Price": [avgPrice],
    "Number of Purchases": [numberPurchases],
    "Total Revenue": [totalRevenue]})

# Display df
summary_df[["Number of Unique Items", "Average Price", "Number of Purchases", "Total Revenue"]]

NameError: name 'numberUniqueItems' is not defined

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [20]:
#Number of count & percentage Calculations

Grouped_Gender_df = purchase_data.groupby(["Gender"])

GenderCount = grouped_gender_df["SN"].nunique()
GenderPercentage = genderCount / totalPlayers * 100

#Summary data frame to hold the results for Percentage and Count
Gender_demo_df = pd.DataFrame({"Total Count": genderCount, "Percentage of Players": genderPercentage})

# Format
Gender_demo_df["Percentage of Players"] = gender_demo_df["Percentage of Players"].map("{:.2f}%".format)

# Display the summary data frame
Gender_demo_df[["Total Count", "Percentage of Players"]].sort_values(["Total Count"], ascending=False)

NameError: name 'grouped_gender_df' is not defined


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [22]:
#Purchase Count, Avgerage purchase price, avrage purchase total per person by gender 

PurchaseCount = grouped_gender_df["Purchase ID"].count()
AveragePurchasePrice = grouped_gender_df["Price"].mean()
TotalPurchaseValue = grouped_gender_df["Price"].sum()
AverageTotalPurchasePerson = TotalPurchaseValue / GenderCount

#Create a Summary Data Frame to hold the results

 Gender_Purchase_df = pd.DataFrame([{"Purchase Count"} : PurchaseCount,
                                    "Average Purchase Price": AveragePurchasePrice, 
                                    "Total Purchase Value" : TotalPurchaseValue, 
                                    "Average Total Purchase Per Person": AverageTotalPurchasePerson}])

#Display Summary DataFrame 

Gender_Purchase_df[["Purchase Count", 
                    "Average Purchase Price",
                    "Total Pruchase Value", 
                    "Average Total Purchase Per Person"]].sort_values(["Purchase Count"], ascending=False)
#unexpected indent but could not find indent

IndentationError: unexpected indent (<ipython-input-22-81b502557b30>, line 10)

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [23]:
#Establish Bins for Ages

bins = [0,9,14,24,29,34,39,150]
age_labels = ["<10", "10-14", "15-19", "20-29", "30-34", "35-39", "40+"]

#Categorize the exitsing players using the age bins
# use pd.cut

purchase_data["Age Labels"] = pd.cut(purchase_data["Age"], bins, labels=age_labels)
grouped_age_df = purchase_data.groupby(["Age Labels"])

# Calculate the numbers and percentages by age group
AgeCount = grouped_age_df["SN"].nunique()
AgePercentage = AgeCount / TotalPlayers * 100

# Create a summary data frame to hold the results
Age_demo_df = pd.DataFrame({"Total Count": ageCount,
                            "Percentage of Players": agePercentage})

# Display Age Demographics Table
Age_demo_df[["Total Count", "Percentage of Players"]]

NameError: name 'TotalPlayers' is not defined

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [17]:
#Purchase Data Into Age Bins

purchase_data["Age Labels"] = pd.cut(purchase_data["Age"], bins, labels=age_labels)
grouped_age_df = purchase_data.groupby(["Age Labels"])

#Calculations

PurchaseCount = grouped_age_df["Purchase ID"].count()
AveragePurchasePrice = grouped_age_df["Price"].mean()
TotalPurchasePrice = grouped_age_df["Price"].sum()
AverageTotalPurchasePerPerson = totalPurchasePrice / ageCount

# Create a summary data frame to hold the results
Age_df = pd.DataFrame({"Purchase Count": purchaseCount,
                                "Average Purchase Price": AveragePurchasePrice,
                                "Total Purchase Value": TotalPurchasePrice,
                                "Avgerage Total Purchase Per Person": AverageTotalPurchasePerPerson})

# Display the summary data frame
Age_df[["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Avg Total Purchase per Person"]]

KeyError: "['Avg Total Purchase per Person'] not in index"

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80